<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.mavops.activityagent</string>

  <key>ProgramArguments</key>
  <array>
    <string>{{BIN}}</string>
    <string>start</string>
  </array>

  <key>WorkingDirectory</key>
  <string>{{HOME}}</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>AGENT_API_KEY</key><string>{{API_KEY}}</string>
    <key>AGENT_POST_URL</key><string>{{POST_URL}}</string>
    <key>AGENT_CONTEXT_PORT</key><string>{{CONTEXT_PORT}}</string>
  </dict>

  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>

  <key>StandardOutPath</key><string>{{LOGDIR}}/stdout.log</string>
  <key>StandardErrorPath</key><string>{{LOGDIR}}/stderr.log</string>
</dict>
</plist>